{% extends 'base.html' %}

    {% block content %}

        <form class="container w-25 d-flex flex-column" action="/produtos/adicionar" method="POST">
            <input class=" my-2" type="text" placeholder="Produto" name="nome">
            <input class=" my-2" type="number" placeholder="Peso" name="peso">
            <input class=" my-2" type="number" placeholder="Custo" name="custo">
            <input class=" my-2" type="number" placeholder="Preço" name="preco">
            <input class=" my-2" type="number" placeholder="Quantidade" name="quantidade">
            <input class=" my-2" type="submit" value="Add Produto">
        </form>

    {% endblock %}
